.container{
    border: solid black 1px;
    border-radius: 10px; /* Esquinas redondeadas */
    margin: 20px auto;
    width: 50%;
}

.container img{
    float: right;
    margin-right: 1em;
    width: 20%;
}

.container:nth-of-type(3){
    background-color: burlywood;
    height: 1000px;
    margin: 20px auto;
    width: 60%;
}

#clear{
    clear:both;
}

