*{
    box-sizing: border-box;

}
h1{
    border-bottom:solid 2px #00F ;    
}
h2{
    border: solid #AAA 2px;
}
.datos{
    border-top: dotted #F00  4px;
    border-bottom: dotted #F00  4px;
}

#contenido{
    border: dotted #0F0 2px;
}