*{
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;  
}

#main{
background-color: gray;
}

.especial{
    color: blue;
}

h2, h3{
    border: solid 1px orange;
}

ul li{
    color: red;
}

ul li ul li{
    color: green;
}

p > img{
    border: solid 5px black;
}

/* (p span img{
    border: solid 5px red;
} */

img[alt="segunda"]{
    border: 5px solid red;
}


.antes{
    background-color: pink;
}

p + h3{
    background-color: blue ;
}