*{
    box-sizing: border-box;
}
.container{
    background-color: lightgray;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
}
.sidebar{
    background-color: yellow;
    width: 25%;
    height: 600px;
    float: left;
}
.article{
    background-color: red;
    float: left;
    height: 300px;
    margin-left: 5%;
    width: 20%;
}
footer{
    background-color: blue;
    float: left;
    height: 290px;
    margin-left: 5%;
    margin-top: 10px;
    width: 70%;
}
#cb{
    clear: both;
}

.article:hover {
    transition: 1s;
    border-radius: 50%;
}
