table{
    border-collapse: collapse;
}
td,th{
    border:1px solid black;
}
tbody tr td:first-child{
    background-color: green;
}
[colspan="5"]{
    background-color: yellow;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: red;
}
a:link{
    color: green;
}
thead tr th:last-child:hover,
tbody tr td:last-child:hover{
    font-size: 2em;
}
thead tr th::first-letter{
    font-size: 2em;
}
/*[required="required"]*/ 
input:required{
    border-color: red;
    padding: 10px;
}
label::after{
    content:"*";
    color: red;
}