*{
    box-sizing: border-box;
    background-color: white;
}

td,th{
    border: solid black 2px;
    padding: 10px;
    text-align: center;
}
tr th{
    color: black;
    background-color: wheat;
}

td{
    background-color: antiquewhite;
}
