html{
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

.main{
    background-color: blue;
    height: 200px;
    margin: 20px auto;
    width: 50%;
}
.bloques{
    background-color: red;
    height: 400px;
    margin: 40px auto;
}
.bloques div {
    background-color: chartreuse;
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 25%;
    margin-top: 100px;
}