*{
    box-sizing: border-box;
}

h1,h2{
    text-align: center;
}

.box{
    border: 5px solid red;
    align-items: center;
    padding: 50px;
    font-size: 2rem;
    margin: 1px 1px;
}

.d-flex{
display: flex;}

.d-flex-2{
    display: flex;
    flex-direction: row;
}

.d-flex-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.d-flex-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.d-flex-5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.d-flex-6{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/

}

