*{
box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    position:relative;
    left: 50px;
    bottom: 10px;
    width: 80%;
}
.padre{
    background-color: lightblue;
    height: 200px;
    width: 60%;
    margin: 20px auto;
    position: relative;
}

.padre div{
    position: absolute;
    height: 50px;
    width: 50px;
}

.hijo1{
    background-color: red;
    left: 100px;
    top: 50px;
    z-index: 2;
}
.hijo2{
    background-color: chartreuse;
    left: 120px;
    top: 30px;
}
.footer{
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sticky-menu{
    background-color: lightgray;
    position: sticky;
    top: 0;
    z-index: 1;
}
.footer div, .sticky-menu div{
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    width: auto;
}
.large{
    background-color: burlywood;
    height: 1000px;
    margin: 20px auto;
    width: 60%;
}