*{
    box-sizing: border-box;
}
.container{
    margin: 20px auto;
    width: 80%;
}
h1{
    text-align: center;
}
nav{
    background-color: black;
    color: white;
}
nav div{
    display: inline-block;
    padding: 10px;
    width: 15%;
}
.sidebar{
    background-color: black;
    color: white;
    float: left;
    height: 500px;
    margin-top: 30px;
    width: 15%;
}
.sidebar div{
    padding: 10px;
}
section{
    float:left;
    margin-left: 5%;
    width: 80%
}
.course{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 0.8em;
    float: left;
    padding: 10px;
    margin-top: 30px;
    width: 33%;
    text-align: center;
}
.course img{
    width: 50%;
}
.articles{
    columns: 3;
    float: left;
    margin: 30px 0 0 5%;
    width: 80%;
}
footer{
background-color: lightgray;
margin: auto auto;
padding: 20px;
text-align: center;
}
#cb{
    clear: both;
}