/* configuración global*/

*{
    box-sizing: border-box;
}

:root {
    --bg-color-container: #cccccc;
    --bg-color: #074619;
    --text-color: #fff;
    --menu-text-color: #8d8a8a;
    --menu-bg-hover-color: #e2dfdf;
    --menu-text-hover-color: #087c29;
    --submenu-text-color: #000;
    --footer-bg-menu-color: #087c29;
}
/*Estilos comunes*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 0 10px var(--bg-color-container);
}
.cb{
    clear: both;
}

/*Header general*/
.header-contacto{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 30px;
    font-size: 0.9rem;
}
/*Header atencion*/

.header-contacto__atencion{
    float: left;
}
.header-contacto__atencion p{
    display: inline-block;
    
}
.header-contacto__atencion img{
    margin-right: 5px;
}

/*Header social*/
.header-contacto__social{
    float: right;
}
.header-contacto__social img{
    margin-left: 10px;
}
.header-contacto__social p{
    display: inline-block;
}
.header-contacto__social p a{
    text-align: none;
    color: var(--text-color);
}
/*Header menu*/
.header-menu{
    padding: 15px 0 0 30px;
}
/*Header menu icono*/
.header-menu__icono{
    width: 25%;
    float: left;
}
/*Header menu barra*/
.header-menu nav{
    text-transform: uppercase;
    width: 75%;
    float: left;
}
.header-menu nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu nav li{
    float: left;
    padding: 10px;
    color: var(--menu-text-color);
    position: relative;
}
.header-menu ul li ul{
    display: none;
    position: absolute;
    padding-top: 15px;
    background-color: var(--text-color);
}
.header-menu nav ul li ul li{
    width: 200px;
    color: var(--submenu-text-color);
    border: 1px solid var(--menu-bg-hover-color);
}
.header-menu nav ul li:hover ul{
    display: block;
    z-index: 1;
}
.header-menu nav ul li ul li:hover{
    background-color: var(--menu-bg-hover-color);
}
/*Seccion bustamante*/
.foto-busta{
    position: relative;
    overflow: hidden;
}
[src="img/coviran-bustamante.png"]{
    width: 100%;
}
[src="img/fanta2.png"]{
    position: absolute;
    left: 1200px;
    transition: left 3s;
}
[src="img/fanta2.png"]:hover{
    left:0;
}
/*Seccion de noticias*/

.noticias{
    padding: 20px;
}
.noticia{
    width: 26%;
    margin: 10px 50px 10px 60px;
    box-shadow: 0 0 10px var(--bg-color-container);
    height: 360px;
    float: left;
}
.noticia p{
    text-align: center;
    padding: 30px;
    font-weight: bold;
}
.noticia img{
    width: 100%;
    display: block;
    height: auto;
}

.noticia img:hover{
    opacity: 0.5;
}

/*Footer*/

/*Parte de arriba*/

.footer-arriba{
    background-color: var(--footer-bg-menu-color);
}
.footer-arriba__menu-item{
    width: 25%;
    float: left;
    padding: 0 20px;
}
.footer-arriba__menu-item p{
    border-bottom: 1px double var(--text-color);
    padding: 10px 20px;
    width: 80%;
}
.footer-arriba__menu-item p a{
    text-decoration: none;
    color: var(--text-color);
}

/*Parte de abajo*/

.footer-abajo{
    background-color: var(--bg-color);
    padding: 10px 30px;
    color: var(--text-color);
    font-size: 0.8rem;
}
.footer-abajo_imagenes{
    text-align: center;
}






















